<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="secondary">
    <p *ngIf="theme === 'light' && changeThemeButtonClicked === true" [ngClass]="{'fade-in-and-out': theme === 'light'}">Let there be light!</p>
    <p *ngIf="theme === 'dark' && changeThemeButtonClicked === true" [ngClass]="{'fade-in-and-out': theme === 'dark'}">Welcome to the dark side!</p>
    <ion-button (click)="changeTheme()">
      <ion-icon slot="icon-only" [name]="themeIcon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>