.logo {
    margin: auto 30px;
    vertical-align: middle;
    font-size: xx-large;
}

.menu-item-button {
    ion-icon {
        margin-bottom: 6px;
    }
    --color: var(--ion-color-dark);

}

.selected {
    ion-icon {
        color: var(--ion-color-primary);

        -webkit-animation: colorIn 1s;
        animation: colorIn 1s;
    }
}

ion-toolbar {
    box-shadow: 0 2px 3px -3px var(--ion-color-dark);
}

.desktop-menu-buttons {
    text-align: left;
    margin-left: 30px;
    display: inline-block;
}

.fade-in-and-out {
    font-size: 14px;
    opacity: 0;
    -webkit-animation: fadeInOut 3s;
    animation: fadeInOut 3s;
  }
  
  
  @-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  @keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

  @-webkit-keyframes colorIn {
    0% {
        color: var(--ion-color-dark);
    }
    100% {
        color: var(--ion-color-primary);
    }
  }
  @keyframes colorIn {
    0% {
        color: var(--ion-color-dark);
    }
    100% {
        color: var(--ion-color-primary);
    }
  }


  @-webkit-keyframes colorOut {
    0% {
        color: var(--ion-color-primary);
    }
    100% {
        color: var(--ion-color-dark);
    }
  }
  @keyframes colorOut {
    0% {
        color: var(--ion-color-primary);
    }
    100% {
        color: var(--ion-color-dark);
    }
  }

