ion-card {
    width: calc(100% - 20px);
    max-width: 500px;
    min-height: 500px;
    max-width: 300px;
    margin: auto;
    img {
      max-height: 300px;
      max-width: 100%;
    }
    p {
      padding-bottom: 48px;
    }

    ion-card-content {
      min-height: 240px !important;
      div {
        position: absolute;
        bottom: 16px;
      }
    }
}

.font-style-italic {
  font-style: italic !important;
}