ion-card {
    width: calc(100% - 20px);
    max-width: 500px;
    height: 500px;
    max-width: 300px;
    margin: auto;
    img {
      max-height: 300px;
      max-width: 100%;
    }
    ion-card-header {
      padding-bottom: 0;
    }
    ion-card-content {
      min-height: 190px !important;
      text-align: center; 
      display: flex;
      p {
        margin: auto;
      }
    }
}

.font-style-italic {
  font-style: italic !important;
}