<ion-header [translucent]="true" collapse="fade">
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tinder-style" selected="true">
        <ion-icon name="flame"></ion-icon>
        <ion-label>Tinder Style</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="regular-listing">
        <ion-icon name="list"></ion-icon>
        <ion-label>Regular Listing</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
