<div class='project-item'> 
<ion-icon name="heart" class="favorite-heart" [color]="isFav ? 'danger' : 'dark'" (click)="addToFavorites(item)"></ion-icon>
<ion-card [href]="'/project-details/' + item.name" class='project-item' mode="md">
  <img [src]="imgSrc"
   onerror="this.onerror=null; this.src='../../../assets/images/no-image.webp'" width="100%" height="100%" [alt]='item.name' />
  <ion-card-header>
    <ion-card-title>{{item.name}}</ion-card-title>
    <ion-card-subtitle>
      <ion-chip>
        <ion-icon name="calendar-number-outline" color="dark" size="small"></ion-icon>
        <ion-label>{{item.created_at | date}}</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-icon name="star" color="warning" size="small"></ion-icon>
        <ion-label>{{item.stargazers_count}}</ion-label>
      </ion-chip>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p class="ion-padding ion-text-center" *ngIf="item.description" >{{item.description }}</p>
    <p class="ion-padding ion-text-center" *ngIf="!item.description" ><i>This project has no description</i></p>
  </ion-card-content>
</ion-card>
</div>