.project-item {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  min-width: 250px;
  height: 100%;
  img {
    max-height: 400px;
    max-width: 100%;
    min-height: 165px;
  }

  -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.project-item:hover {
  -moz-transform: scale(101%);
	-webkit-transform: scale(101%);
	transform: scale(101%);
}

ion-card {
  border-radius: 16px;

  ion-card-title {
    text-overflow: ellipsis;
    // width: calc(100% - 1px);
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
  }
}

.favorite-heart {
  position: absolute;
  right: 0;
  z-index: 2;
  font-size: 18px;
  margin: 10px;
  border: 2px solid;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--ion-color-dark-contrast);
}

.isFav {
  color: var(--ion-color-danger);
}

.flip-add {
  animation: flip-icon-add 0.5s ease-in-out;
  color: var(--ion-color-danger);
}

.flip-remove {
  animation: flip-icon-remove 0.5s ease-in-out;
  color: var(--ion-color-dark);
}

@keyframes flip-icon-add {
  0% {
  transform: rotateY(180deg);
  color: var(--ion-color-dark);
  }
  100% {
  transform: rotateY(0deg);
  color: var(--ion-color-danger);
  }
}

@keyframes flip-icon-remove {
  0% {
  transform: rotateY(180deg);
  color: var(--ion-color-danger);
  }
  100% {
  transform: rotateY(0deg);
  color: var(--ion-color-dark);
  }
}

.chips {
  margin: 0 16px 16px;
  position: absolute;
  bottom: 0;
}