@keyframes  bouncey {
  0% {
    transform: (translateY(0))
  }
  50% {
    transform: (translateY(10px))
  }
  100% {
    transform: (translateY(0))
  }
}
@-webkit-keyframes   bouncey {
    0% {
      transform: (translateY(0))
    }
    50% {
      transform: (translateY(10px))
    }
    100% {
      transform: (translateY(0))
    }
  }

.up {
    -webkit-animation: bouncey 2s infinite;
    animation: bouncey 2s infinite;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

.signature {
  position: absolute;
  bottom: 30px;
  right: 80px;
  transform: rotate(-30deg);

}

#svg_9 {
  stroke: var(--ion-color-dark);
  stroke-dasharray: 529;
  stroke-dashoffset: 529;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
      stroke-dashoffset: 0;
  }
}