<ion-header [translucent]="true" collapse="fade">
  <app-header #header></app-header>
</ion-header>

<ion-content>
  <div class="center-content">
    <h2>
      <span class="text-sub ion-margin-start">Achievements</span>
      <ion-button id="open-popover" fill="clear" color="dark" class="ion-float-right"><ion-icon name="settings-outline"></ion-icon></ion-button>
    </h2>
    <ion-popover arrow="true" dismissOnSelect="true" trigger="open-popover">
      <ng-template>
        <ion-list lines="none">
          <ion-item (click)="openInfo()" [button]="true" [detail]="false">
            <ion-icon name="information-circle-outline" slot="end"></ion-icon>
            <ion-label>Info</ion-label>
          </ion-item>
          <ion-item [button]="true" [detail]="false" (click)="resetAchievements()">
            <ion-icon name="refresh" slot="end"></ion-icon>
            <ion-label>Reset Progress</ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>

      <div class="achievement" *ngFor="let item of achievements" (click)="openAchievementInfo(item)">
        <a [href]="item.title"></a>
        <img [src]="getImage(item)" class="achievement-image"/>
        <div class="w-100">
          <h4 class="ion-no-margin"><strong>{{item.title}}</strong></h4>
    
          <p class="smaller-margin"><i>{{item.description}}</i></p>
    
          <ion-badge mode="ios" [color]="isMaxLevel(item) ? 'success' : item.progress === 0 ? 'medium' : 'dark'">
            {{item.progress > item.limit[item.level - 1] && item.progress < item.limit[item.level] ? item.progress : item.limit[item.level - 1] || 0}}
            /
            {{item.limit[item.level] ? item.limit[item.level] : item.limit[item.limit.length - 1]}}
          </ion-badge>
          <ion-badge color="success" mode="ios" *ngIf="isMaxLevel(item)" > Max Level</ion-badge>
          <ion-progress-bar [value]="getProgressBarValue(item)" [color]="isMaxLevel(item) ? 'success' : item.progress === 0 ? 'medium' : 'dark'"></ion-progress-bar>
        </div>
      </div>
  </div>
</ion-content>
