<ion-header [translucent]="true" collapse="fade">
  <app-header #header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="center-grid">
    <ion-row class="center-col-content">
      <ion-col>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h1>Hello there!</h1>
            </div>
            <div class="flip-card-back bg-black">
              <img src="../../assets/images/general_kenobi.gif" alt="general_kenobi">
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h1>About Me</h1>
            </div>
            <div class="flip-card-back">
              <ion-list lines="none" class="about-me-list">
                <ion-item>
                  <ion-icon name="person"></ion-icon>
                  <ion-label>&nbsp; Name</ion-label>
                  <ion-text slot="end">Marian-Calin Stroescu</ion-text>
                </ion-item>
                <ion-item>
                  <ion-icon name="briefcase"></ion-icon>
                  <ion-label>&nbsp; Profession</ion-label>
                  <ion-text slot="end">Web Developer</ion-text>
                </ion-item>
                <ion-item>
                  <ion-icon name="barbell" style="transform: rotate(135deg);"></ion-icon>
                  <ion-label>&nbsp; Power Level</ion-label>
                  <ion-text slot="end">Over 9000</ion-text>
                </ion-item>
                <ion-item class="ion-margin-top">
                  <ion-button routerLink="/about-me" shape="round" color='dark' fill="clear" size="large" expand="full" class="w-100 h-40">
                    <ion-icon name="eye" slot="start"></ion-icon>
                    <ion-label>
                      See more
                    </ion-label>
                  </ion-button>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size="12">
        <!-- <div class="flip-card thingsToDoCard">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h1>Explore</h1>
            </div>
            <div class="flip-card-back">
              <ion-list lines="none" class="about-me-list">
                  <ion-item *ngFor="let item of thingsToDo" (click)="goToThingsToDo(item)" [disabled]="item.isDone" class="ion-activatable ripple-parent cursor-pointer">
                    <ion-icon  class="ion-margin-end" [name]="item.icon"></ion-icon>
                    <ion-label [ngClass]="{'strike' : item.isDone}">{{item.text}}</ion-label>
                    <ion-icon slot="end" [name]="item.isDone ? 'checkmark-circle' : 'ellipse-outline'" [color]="item.isDone? 'success' : ''"></ion-icon>
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-item>
                  <ion-item>
                    <ion-button (click)="resetThingsToDo()" slot="end" fill="clear" color="dark" class="h-40">
                      <ion-icon name="refresh" slot="start"></ion-icon>
                      Reset
                    </ion-button>
                  </ion-item>
              </ion-list>
            </div>
          </div>
        </div> -->
        <div class="simple-card thingsToDoCard">
              <h1 class="ion-text-center">Explore</h1>
              <ion-list lines="none" class="about-me-list">
                  <ion-item *ngFor="let item of thingsToDo" (click)="goToThingsToDo(item)" [disabled]="item.isDone" class="ion-activatable ripple-parent cursor-pointer">
                    <ion-icon  class="ion-margin-end" [name]="item.icon"></ion-icon>
                    <ion-label [ngClass]="{'strike' : item.isDone}">{{item.text}}</ion-label>
                    <ion-icon slot="end" [name]="item.isDone ? 'checkmark-circle' : 'ellipse-outline'" [color]="item.isDone? 'success' : ''"></ion-icon>
                    <ion-ripple-effect></ion-ripple-effect>
                  </ion-item>
                  <ion-item>
                    <ion-button (click)="resetThingsToDo()" slot="end" fill="clear" color="dark" class="h-40">
                      <ion-icon name="refresh" slot="start"></ion-icon>
                      Reset
                    </ion-button>
                  </ion-item>
              </ion-list>
            </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h1>Lorem ipsum</h1>
            </div>
            <div class="flip-card-back">
              <ion-text class="ion-padding-horizontal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas rem dolorum sint dolorem commodi veniam perferendis quaerat, obcaecati qui cum asperiores, maiores tempora accusantium, sit nostrum fugiat laudantium et? Sequi!</ion-text>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <ion-card class="ion-no-margin h-100 status-card">
          <ion-card-header>
            <!-- <ion-card-subtitle>a</ion-card-subtitle> -->
            <ion-card-title color="primary">Status</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <p>Here you can check out some of my statuses</p>
          </ion-card-content>
          <app-social-accordion
           [lichessProfileInfo]="lichessProfileInfo"
           [gitHubProfileInfo]="gitHubProfileInfo"
           [stackoverflowProfileInfo]="stackoverflowProfileInfo"
           [stackoverflowLimitExceeded]="stackoverflowLimitExceeded"
           [fetchingData]="fetchingData">
          </app-social-accordion>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="ion-margin-top">
        <h2 class="ion-margin-start">Github Projects</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let item of listOfItems">
        <app-project-item [item]="item"></app-project-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
